@using Fiver.Mvc.PartialViews.Models.Home
@model AddressViewModel

<div style="border: 1px dashed red; margin: 5px">
   
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <h3>Address Details (partial view)</h3>
                    <p>Lin1: @Model.Line1</p>
                    <p>Line2: @Model.Line2</p>
                    <p>Line3: @Model.Line3</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
