@using Fiver.Mvc.PartialViews.Models.Home
@model EmployeeViewModel

<div style="border: 1px solid black; margin: 5px">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <h2>Employee Details (parent view)</h2>
    <p>Firstname: @Model.Firstname</p>
    <p>Surname: @Model.Surname</p>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    @Html.Partial("_Address", Model.Address)
</div>

